@model Beldsoft.MVC.ViewModels.SiteSettings.SiteSettingsGetAllViewModel
<div>
    <div class="vs-map wow animate__fadeInUp" data-wow-delay="0.25s">
        <!-- Get Map -->
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe class="gmap_iframe"
                        style="width:100%; height:447px; border:0; overflow:hidden;"
                        src="@Model.GoogleMapAddress"
                        allowfullscreen>
                </iframe>

                <a class="gmap_canvas__credit" href="https://embed-googlemap.com">embed google map</a>
            </div>
        </div>
    </div>
</div>