
<!DOCTYPE html>
<html class="no-js" lang="zxx">

@await Component.InvokeAsync("FrontHeadComponentPartial")

<body>



  
    @await Component.InvokeAsync("MobilMenuComponentPartial")


    @await Component.InvokeAsync("SideMenuComponentPartial")


    @await Component.InvokeAsync("FrontHeaderComponentPartial")


    @RenderBody()

    @await Component.InvokeAsync("FrontFooterComponentPartial")


    <button class="back-to-top" id="backToTop" aria-label="Back to Top">
        <span class="progress-circle">
            <svg viewBox="0 0 100 100">
                <circle class="bg" cx="50" cy="50" r="40"></circle>
                <circle class="progress" cx="50" cy="50" r="40"></circle>
            </svg>
            <span class="progress-percentage" id="progressPercentage">0%</span>
        </span>
    </button>

 
    @await Component.InvokeAsync("FrontScriptComponentPartial")
    @RenderSection("Scripts", required: false)

</body>

</html>