<head>

    <meta charset="utf-8" />
    <title>Beldsoft - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Beldsoft Admin" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/uploads/logos/beldsoft.png">

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/uploads/logos/beldsoftico.png">

    <link href="~/approx-v1.0/dist/assets/libs/simple-datatables/style.css" rel="stylesheet" type="text/css">

    <!-- App css -->
    <link href="~/approx-v1.0/dist/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/approx-v1.0/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/approx-v1.0/dist/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>