<!--==============================
      Mobile Menu
  ============================== -->
<div class="vs-menu-wrapper">
    <div class="vs-menu-area text-center">
        <div class="mobile-logo">
            <a href="index.html"><img src="~/toddly/assets/img/logo.svg" alt="Toddly" class="logo"></a>
            <button class="vs-menu-toggle">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="vs-header__right pt-4">
            <button class="searchBoxTggler" type="button">
                <!-- SVG arama ikonu -->
            </button>
            <button class="sideMenuToggler" type="button">
                <!-- SVG menü ikonu -->
            </button>
        </div>
        <div class="vs-mobile-menu">
            <ul>
                <li>
                    <a class="vs-svg-assets" href="index.html">
                        Home
                        <svg xmlns="http://www.w3.org/2000/svg" width="87" height="31" viewBox="0 0 87 31" fill="none">
                            <path d="M0 4.14031C0 1.87713 1.87602 0.0646902 4.13785 0.142684L83.1379 2.86682C85.2921 2.94111 87 4.70896 87 6.86445V25.0909C87 27.2642 85.2647 29.0399 83.0919 29.0898L4.09193 30.9059C1.84739 30.9575 0 29.1521 0 26.907V4.14031Z" fill="#70167E"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="px-20 py-20">
            <div class="sidemenu-contact style2">
                <ul>
                    <li>
                        <a href="tel:+95552247849" class="sidemenu-link">+9 555 224 7849</a>
                    </li>
                    <li>
                        <a href="mailto:info@toddly.com" class="sidemenu-link">info@toddly.com</a>
                    </li>
                    <li>
                        <a href="index.html">
                            Munich
                            Expresswa 70 Germany, TX 7859
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-social mb-20">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://behance.com/"><i class="fab fa-behance"></i></a>
            </div>
            <p class="sidemenu-text sidemenu-text--footer text-center mb-0">
                Copyright © 2025 <a class="vs-theme-color" href="index.html">Toddly</a>.
                All rights reserved.
            </p>
        </div>
    </div>
</div>
