
    <main class="vs-main">

    @await Component.InvokeAsync("HeroComponentPartial")

    @await Component.InvokeAsync("ServiceComponentPartial")


    @await Component.InvokeAsync("AboutComponentPartial")


    @await Component.InvokeAsync("SessionComponentPartial")
    @await Component.InvokeAsync("GalleryComponentPartial")



    @* @await Component.InvokeAsync("GradeComponentPartilal") *@



    @* @await Component.InvokeAsync("ClassComponentPartilal") *@

    @await Component.InvokeAsync("FeedbackComponentPartial")

@*     @await Component.InvokeAsync("BlogComponentPartilal")
 *@
    </main>

