<section class="vs-pro--area position-relative parallax-wrap" data-bg-src='@Url.Content("~/toddly/assets/img/bg/program-bg.png")'>
    <div class="vs-pro--ele1 parallax-element" data-move="200">
        <img src="~/toddly/assets//img/pro/pro-ele-1.png" alt="pro-ele-1">
    </div>
    <div class="vs-pro--ele2 parallax-element" data-move="100">
        <img src="~/toddly/assets//img/pro/pro-ele-2.png" alt="pro-ele-1">
    </div>
    <div class="vs-pro--ele3 parallax-element" data-move="80">
        <img src="~/toddly/assets//img/pro/pro-ele-3.png" alt="pro-ele-1">
    </div>
    <div class="vs-pro--ele2"></div>
    <div class="vs-pro--ele3"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-auto text-center text-lg-start">
                <div class="vs-title title-anime animation-style2">
                    <div class="title-anime__wrap">
                        <span class="vs-title__sub text-white">GRADE LEVEL</span>
                        <h2 class="vs-title__main text-white">Grade Programs</h2>
                    </div>
                    <p class="text-white fw-bold text-capitalize font-title vs-text-bolder mb-0">
                        work and play come together ?
                    </p>
                </div>
                <div class="vs-pro--slider__direction justify-content-center justify-content-lg-start mb-md-4">
                    <div class="vs-pro--slider__next">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>
                    <div class="vs-pro--slider__prev">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 flex-grow-1">
                <div class="swiper vs-carousel" data-xl="3" data-space-xl="15" data-md="3" data-sm="2" data-space-lg="5" data-nav-next=".vs-pro--slider__next" data-nav-prev=".vs-pro--slider__prev">
                    <div class="swiper-wrapper p-4">
                        <div class="swiper-slide wow animate__fadeInUp" data-wow-delay="0.25s">
                            <div class="vs-pro">
                                <span class="vs-pro__grade bg-color1">
                                    grade
                                    <span>1</span>
                                </span>
                                <h2 class="vs-pro__title">Grade 2</h2>
                                <span class="vs-pro__age">Age 03 - 04</span>
                            </div>
                        </div>
                        <div class="swiper-slide wow animate__fadeInUp" data-wow-delay="0.35s">
                            <div class="vs-pro">
                                <span class="vs-pro__grade bg-color2">
                                    grade
                                    <span>1</span>
                                </span>
                                <h2 class="vs-pro__title">Grade 2</h2>
                                <span class="vs-pro__age">Age 03 - 04</span>
                            </div>
                        </div>
                        <div class="swiper-slide wow animate__fadeInUp" data-wow-delay="0.45s">
                            <div class="vs-pro">
                                <span class="vs-pro__grade bg-color3">
                                    grade
                                    <span>1</span>
                                </span>
                                <h2 class="vs-pro__title">Grade 2</h2>
                                <span class="vs-pro__age">Age 03 - 04</span>
                            </div>
                        </div>
                        <div class="swiper-slide wow animate__fadeInUp" data-wow-delay="0.55s">
                            <div class="vs-pro">
                                <span class="vs-pro__grade bg-color4">
                                    grade
                                    <span>1</span>
                                </span>
                                <h2 class="vs-pro__title">Grade 2</h2>
                                <span class="vs-pro__age">Age 03 - 04</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
