<!DOCTYPE html>
<html lang="en" dir="ltr" data-startbar="dark" data-bs-theme="light">

@await Component.InvokeAsync("HeadComponentPartial")


<body>

    @* @await Component.InvokeAsync("TopbarComponentPartial") *@

    @await Component.InvokeAsync("SidebarComponentPartial")


    <div class="page-wrapper">

        <div class="page-content">
                        @RenderBody()

     
        @await Component.InvokeAsync("FooterComponentPartial")


        </div>
    </div>
    @await Component.InvokeAsync("GlobalSpinnerComponent")

    @await Component.InvokeAsync("ScriptComponentPartial")


    @RenderSection("Scripts", required: false)

</body>

</html>